<div class="form-container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-vertical-stepper
      #linearVerticalStepper="matVerticalStepper"
      formArrayName="formArray"
      [linear]="false"
    >
      <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
        <ng-template matStepLabel>Pick a date and time</ng-template>
        <mat-form-field class="input-form-field">
          <mat-label>Pick a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="input-form-field">
          <input
            matInput
            type="time"
            placeholder="From"
            min="07:00"
            max="20:00"
            value="07:00"
            step="1800"
            formControlName="from"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="time"
            placeholder="To"
            min="07:30"
            max="20:00"
            value="07:30"
            step="1800"
            formControlName="to"
          />
        </mat-form-field>
        <div class="form-button-container">
          <button
            type="button"
            class="form-button"
            mat-stroked-button
            matStepperNext
          >
            Next
          </button>
        </div>
      </mat-step>

      <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
        <ng-template matStepLabel>Choose a room</ng-template>
        <mat-form-field>
          <mat-select formControlName="selectedRoom">
            <mat-option *ngFor="let room of rooms" [value]="room">
              {{ room }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-button-container">
          <button
            type="button"
            class="form-button"
            mat-stroked-button
            matStepperPrevious
          >
            Back
          </button>
          <button
            type="button"
            class="form-button"
            mat-stroked-button
            matStepperNext
          >
            Next
          </button>
        </div>
      </mat-step>

      <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field class="input-form-field">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName" required />
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <mat-form-field class="input-form-field">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastName" required />
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <div class="form-button-container">
          <button
            type="button"
            class="form-button"
            mat-stroked-button
            matStepperPrevious
          >
            Back
          </button>
          <button
            type="button"
            class="form-button"
            mat-stroked-button
            matStepperNext
          >
            Next
          </button>
        </div>
      </mat-step>

      <mat-step formGroupName="3" [stepControl]="formArray?.get([3])">
        <ng-template matStepLabel>
          <div>Fill out your email address</div>
        </ng-template>
        <mat-form-field>
          <mat-label>Email address</mat-label>
          <input matInput formControlName="email" />
          <mat-error>The input is invalid.</mat-error>
        </mat-form-field>
        <div class="form-button-container">
          <button
            type="button"
            class="form-button"
            mat-stroked-button
            matStepperPrevious
          >
            Back
          </button>
          <button
            type="button"
            class="form-button"
            mat-stroked-button
            matStepperNext
          >
            Next
          </button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Confirm your booking</ng-template>
        <p class="summary-text">
          Matt Smith booked Room 2 from 8:00 to 10:00 3/12/2020.
        </p>

        <div class="form-button-container">
          <button
            mat-stroked-button
            color="primary"
            class="form-button"
            type="submit"
          >
            Book room
          </button>
          <button
            type="button"
            mat-stroked-button
            color="warn"
            class="form-button"
            (click)="linearVerticalStepper.reset()"
          >
            Reset form
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>
