.form-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.form-button-container {
  margin-top: 30px;
  margin-bottom: 10px;
}

.form-button {
  margin-right: 20px;
}

.input-form-field {
  margin-right: 20px;
}

.summary-text {
  margin-top: 30px;
}
